<h3>Lot Id: {{this.id}}</h3>

<ul class="public-lot-list">
  <li><img class="public-lot-image" {{bind-attr src=this.imageURL}} /></li>
  <li>{{title}}</li>
  <li>{{description}}</li>
  <li>{{startPrice}}</li>
</ul>

<ul>
  {{#each this.items}}
    <li>
      title: {{title}} <br>
      url: {{imageURL}} <br>
      desc: {{description}}
    </li>
  {{/each}}
</ul>
