<h3>Lot Id: <span id="public-lot-h">{{this.id}}</span></h3>


<ul class="public-lot-list">
  <li><img class="public-lot-image" {{bind-attr src=this.imageURL}} /></li>
  <li>{{title}}</li>
  <li>{{description}}</li>
  <li>{{startPrice}}</li>
</ul>

<div class="row">
  {{#each item in this.items}}
    <div class="col-sm-4">
      <div class="public-lot-items">
        {{item.title}} <br>
        {{#link-to 'publicItem' item.id}}<img class="thumbnail"{{bind-attr src=item.imageURL}} />{{/link-to}}
        {{item.description}}
      </div>
    </div>
  {{/each}}
</div>
