<h3>Lot Id: {{this.id}}</h3>

<ul class="public-lot-list">
  <li><img class="public-lot-image" {{bind-attr src=this.imageURL}} /></li>
  <li>{{title}}</li>
  <li>{{description}}</li>
  <li>{{startPrice}}</li>
</ul>

<ul>
  {{#each item in this.items}}
    <li>
    {{#link-to 'publicItem' item.id}}<img class="thumbnail"{{bind-attr src=item.imageURL}} />{{/link-to}}
    </li>
    <li>
      id: {{item.id}} <br />
      title: {{item.title}} <br>
      desc: {{item.description}}
    </li>
  {{/each}}
</ul>
